.checkBox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkBox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkBox.dark + label::before {
  border: 1px solid #fff;
}

.checkBox + label::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #070149;
  border-radius: 0.25em;
  margin-right: 0.4em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkBox:checked + label::before {
  border-color: #070149;
  background-color: #070149;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.checkBox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #07014962;
}

.checkBox.dark:not(:disabled):not(:checked) + label:hover::before {
  border-color: #070149;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.checkBox:not(:disabled):active + label::before {
  background-color: #070149;
  border-color: #070149;
}
/* стили для чекбокса, находящегося в фокусе */
.checkBox:focus + label::before {
  box-shadow: 0 0 0 0.2rem #07014954;
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.checkBox:focus:not(:checked) + label::before {
  border-color: #07014954;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.checkBox:disabled + label::before {
  background-color: #07014954;
}
