.selectedProducts {
  box-shadow: inset 0px 1px 9px -2px #a2a1ad;
  border-radius: 8px;
  width: 330px;
  height: 282px;
  padding: 7px 9px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 22px;

  &.light {
    .selectedProductItem {
      border: 1px solid #070149;
    }
  }

  .returnRemoveItem {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    span:first-child {
      color: #e63a2e;
    }

    span:last-child {
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  & {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .selectedProductItem {
    border: 1px solid #ffffff;
    border-radius: 8px;
    text-align: left;
    padding: 11px 21px;
    p {
      margin: 0 0 10px 0;
    }

    div {
      display: flex;
      gap: 18px;
      span:nth-child(2) {
        flex-grow: 1;
      }
    }

    .deleteIcon {
        cursor: pointer;
    }
  }
}


@media (max-width: 1024px)  {
  .selectedProducts {
    width: 100%;
  }
}